PORT=5000
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/tasknera?retryWrites=true&w=majority"
OPENAI_API_KEY=""
CORS_ORIGIN="http://localhost:3000"

# Email Configuration
EMAIL_PROVIDER="smtp"
EMAIL_USER="your_company_email@example.com"
EMAIL_PASSWORD="your_new_app_password"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
